h1{

	text-align: center;
	font-size: 8vh;
}

h2{
	padding: 0 0 0 5px;
	color: gray;
}

section{
	border: 1px solid black;
	overflow: auto;
}


.img1{
	padding: 10%;
	width: 80%;
}

.personal{
	margin: 0;
	width: 20%;
	float: left;


}
.content1{

	border: 1px solid black;
	float: left;
	width: 70%;
	margin: 0;
	box-sizing: border-box;
}